
.btn.btn-primary[disabled] {
    background-color: #ff5000;
}

.sidenav {
 min-height: 880px;
 max-height:880px;
 position: absolute;
}

.tablediv{
	
	height:427px;
}

.footer {

    position: relative;
    padding-top:7px;

}
